mat-form-field {
  width: 100%;
}

.unit-list {
  display: flex;
  flex-direction: row;

  mat-form-field {
    display: block;
    width: 100%;
    padding: 5px;
  }
}

.group-title {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

::ng-deep {
  .mat-tab-body-wrapper {
    padding-top: 30px !important;
  }
}


@media screen and (max-width: 960px) {
  .unit-list {
    display: block;
  }
}
