<mat-table [dataSource]="list">
  <ng-container matColumnDef="from">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Откуда</mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Откуда">{{asWaybill(element)?.departure?.city?.name}}, {{asWaybill(element)?.departure?.address}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="to">
    <mat-header-cell *matHeaderCellDef>Куда</mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Куда">{{asWaybill(element)?.destination?.city?.name}}, {{asWaybill(element)?.destination?.address}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tariff">
    <mat-header-cell *matHeaderCellDef>Тариф</mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Тариф">{{asWaybill(element)?.tariff?.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>Количество мест</mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Количество мест">{{asWaybill(element)?.rootUnit?.children?.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Статус">
      {{ asWaybill(element)?.status | waybillStatus}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Действия</mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Действия">
      <button *ngIf="isActionAllowed(asWaybill(element), ActionsEnum.EDIT)"
              (click)="open( asWaybill(element) )"
              matTooltip="Редактировать"
              mat-mini-fab
              color="primary"><mat-icon>edit</mat-icon></button>

      <button *ngIf="isActionAllowed(asWaybill(element), ActionsEnum.SEND_TO_COURIER)"
              (click)="sendToCourier( asWaybill(element) )"
              matTooltip="Отправить курьеру"
              mat-mini-fab
              class="brkt-ml-10"
              color="primary"><mat-icon>double_arrow</mat-icon></button>

      <button *ngIf="isActionAllowed(asWaybill(element), ActionsEnum.SEND_TO_STOCK)"
              (click)="sendToStock( asWaybill(element) )"
              matTooltip="Отправить на склад"
              mat-mini-fab
              class="brkt-ml-10"
              color="primary"><mat-icon>store_mall_directory</mat-icon></button>

      <button *ngIf="isActionAllowed(asWaybill(element), ActionsEnum.ARCHIVE)"
              (click)="archive( asWaybill(element)?.id )"
              matTooltip="Архивировать"
              mat-mini-fab
              class="brkt-ml-10"
              color="warn"><mat-icon>archive</mat-icon></button>
      <button *ngIf="isActionAllowed(asWaybill(element), ActionsEnum.UNARCHIVE)"
              (click)="unarchive( asWaybill(element)?.id )"
              matTooltip="Разархивировать"
              mat-mini-fab
              class="brkt-ml-10"
              color="primary"><mat-icon>unarchive</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let element; columns: columns;"></mat-row>
</mat-table>
