@import '../../../node_modules/@angular/material/theming';
@include mat-core();
$barakat-primary: mat-palette($mat-indigo);
$barakat-accent: mat-palette($mat-pink, A200, A100, A400);
$barakat-warn: mat-palette($mat-red);
$barakat-gray: mat-palette($mat-gray);
$barakat-theme: mat-light-theme((
  color: (
    primary: $barakat-primary,
    accent: $barakat-accent,
    warn: $barakat-warn,
    gray: $barakat-gray,
    secondary: #ff0000
  )
));
@include angular-material-theme($barakat-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f5f1;
}

* {
  box-sizing: border-box;
}


.brkt-filter-button {
  display: inline-block !important;
  vertical-align: top !important;
  height: 52px;
}


.brkt-ml-10 {
  margin-left: 10px!important;
}

.brkt-mt-10 {
  margin-top: 10px !important;
}

.mat-row.clickable {
  cursor: pointer;
}

.brkt-waybill-row {
  display: flex;
  mat-form-field {
    width: 100%;
    padding: 5px;
  }

  .brkt-waybill-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.mat-row:hover {
  background: mat-color($barakat-primary, 500);
  .mat-cell {
    color: white;
  }
}

@media screen and (max-width: 960px) {
  .brkt-waybill-row {
    display: block;
  }

  .recipient-form-fields {
    display: block;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
    caption {
      font-size: 1em;
    }
    .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
      padding: 8px 24px;
    }
    .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      &:first-of-type {
        padding-left: 0;
      }
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: normal;

        font-size: .85em;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:first-child {
        margin-top: 4%;
      }
    }
    .mat-header-row {
      display: none;
    }
  }
}
